# `Verification`

| Attribute | Range | Required | Description |
|---|---|---|---|
| `status` | VerificationStatus |  |  |
| `method` | string |  |  |
| `log_ref` | string |  |  |
